.text {
    text-align: left;
}
.text h1 {
    margin-left: 400px;
    color: blue;
}
.text p {
    color: yellow;
    padding: 20px;
}
.display {
    display: flex;
}
.display img {
    width: 150px;
    height: 100px;
    margin-left: 20px;
}
.foto {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 0;
}
.foto img {
    width: 290px;
}
.fotos {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 0;
}
.fotos img {
    width: 290px;
}
.Book_text p {
    text-align: left;
}
table {
    border: 1px solid gray;
    text-align: left;
    margin-bottom: 20px;
    width: 700px;
}
th {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
td {
    border-bottom: 1px solid gray;
}
.Table, .Tablee {
    border: none;
}
.Table {
    border-right: 1px solid gray;
}
.TableAndFoto {
    display: flex;
}
.TableAndFoto img {
    width: 600px;
    height: 415px;
    margin-left: 20px;
}